<ion-content>

<img [src]="capturedSnapURL"  style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%"/>
  <div *ngIf="visible">
<ion-row>
  <ion-col>
    <p>Inglés: </p>
  </ion-col>
  <ion-col>
    <ion-input type="text" [(ngModel)]="textoEng" name="text"></ion-input>
  </ion-col>
</ion-row>
  <ion-row>
  <ion-col>
    <p>Español: </p>
  </ion-col>
  <ion-col>
    <ion-input type="text" [(ngModel)]="textoEsp" name="text"></ion-input>
  </ion-col>
</ion-row>


</div>
  <div *ngIf="loading">
    <img src="../../assets/Ellipsis-1s-200px%20(1).gif" style="height: 20%; width: auto; display: block; margin-left: auto; margin-right: auto">
  </div>
  <ion-button (click)="takeSnap()" style="display: block;
              margin-left: auto;
              margin-right: auto;
margin-top: 10%">
    Escanear
  </ion-button>
</ion-content>